<h1 class="text-center">Posts Page</h1>

<% @posts.each do |post| %>
<div class="panel">
  <h3><%= post.title %></h3>
    <div class="panel">
      <p><%= post.body %></p>
    </div>
  <%= link_to 'See Post', post_path(post.id), class: 'button small success' %>
</div>
<% end %>

<%= link_to 'New Post', new_post_path, class: 'button small alert' %>
